.productsContainer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem 7rem;
    overflow: hidden;

    .header {
        display: grid;
        grid-template-columns: 40% 60%;

        .title {
            font-size: 2.5rem;
            font-family: "Signifier", sans-serif;
        }

        .description {
            font-size: 1.5rem;

            .linkContainer {
                margin: 2rem 0;
            }
        }
    }

    .productsList {
        display: flex;
        gap: 2rem;
        width: calc((20rem + 2rem) * 4);
        animation: scroll 30s linear infinite;
        margin-bottom: 3rem;
        
        &:hover {
            animation-play-state: paused;
        }
    }
    
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX((-22rem) * 8);
        }
    }
}