.container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-between;
    font-family: "Sohne", sans-serif;
    min-height: 20rem;

    h2 {
        font-size: 3.781rem;
        font-weight: 300;
        font-family: "Signifier", sans-serif;
    }

    .description {
        font-size: 2rem;
    }
}