.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: transparent;
    transition: background-color 300ms ease-in-out;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 5rem;
    padding: 0 5rem;

    &.scrolled {
        background-color: black;
    }

    .leftPart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        .logoContainer {
            width: 9rem;
            height: 100%;
            margin-right: 5rem;
            align-items: center;

            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }

        
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            width: 32%;

            .item {
                font-family: "Sohne", sans-serif;
                font-size: 1.125rem;
                line-height: 1.125rem;
                cursor: pointer;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}